* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --primary-color:#1992d4;
    --secondary-color:#e2e8f0;
    --tertiary-color:white;
    --fourth-color:black;
    --fifth-color:red;
}

body {
    background-color: var(--secondary-color);
    height: 100vh;
    display: grid;
    grid-template-columns: .9fr 4fr;
    grid-template-rows: 0.9fr 4fr;
    /* gap: 10px; */
}

.sidebar {
    display: grid;
    grid-template-rows: 0.3fr 0.5fr 0.8fr;
    color: white;
    background-color: var(--primary-color);
    grid-area: 1/1/3/2;
    font-weight: 200;
    font-size: 25px;
}

.sidebar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding-left: 5px;
    cursor: pointer;
}


.dashboard-p {
    font-weight: bolder;
}

.navbar {
    background-color: var(--tertiary-color);
    
    grid-area: 1/2/2/3;
}

.main {
    
}



.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-self: center;
}


.navbar-top {
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 0.3fr 0.4fr 0.2fr;
    align-items: center;
}

.search-svg,.bell-svg,.avatar {
    justify-self: end;
    
}



#username {
    font-weight: bolder;
    font-size: 17px;
}

#search {
    border-radius: 5px;
    background-color: var(--secondary-color);
    height: 4vh;
    grid-column-start: 2;
    grid-column-end: 4;
}

#username {
    justify-self: start;
    padding-left: 10px;
}

.navbar-top div {
    justify-self: end;
}


ul {
    list-style-type: none;
    
}

li:nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

.navbar-bottom-div1  {
   
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    column-gap: 20px;
    
}


.navbar-bottom {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}


.navbar-bottom-div2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    justify-self: end;
    padding-right: 70px;
}

.navbar button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px;
    width: calc(40px + 4vw);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.navbar button:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: 400ms;
}


.main {
    gap: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1.3fr 1.2fr;
    
}


.projects {
    grid-area: 1/1/3/2;
    /* background-color: lightcoral; */
}


.projects > h3 {
    padding-left: 20px;
}

.announcements>h3,.trending > h3 {
    padding-top: 10px;
    padding: 5px;
}

.announcements {
    /* background-color: lightgreen; */
    grid-area:1/2/3/3;
}

.announcements-content {
    background-color: var(--tertiary-color);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    border: 2px solid black;
    padding: 10px;
    gap: 10px;
    justify-items: stretch;
    border: 2px solid var(--tertiary-color);
    border-radius: 10px;
}


.trending {
    background-color: white;
    grid-area: 2/2/3/3;
}





.card {
    padding: 10px;
    row-gap: 10px;
    display: grid;
    align-items: end;
    grid-template-rows: 0.5fr 1fr 1fr;
    border-radius: 20px;
    height: 30vh;
    border-left: 11px solid var(--primary-color);
    background-color: var(--tertiary-color);
}



.project-content {
    padding: 10px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
    
}



